<header class="blog-header">
  <div class="container">
    <img class="blog-header__logo" src="img/blog-logo-720.png" width="90" height="30" alt="logo">
    <!-- <button class="blog-header__search"></button> -->
    <div class="blog-header__search-wrapper  blog-header__search-wrapper--open">
      <!-- <button class="blog-header__search-button"></button> -->
      <input class="blog-header__search-input  blog-header__search-input--open" type="text" name="search" placeholder="Поиск в блоге">
      <button class="blog-header__search-button"></button>
    </div>
    <div class="blog-header__border"></div>
    <p class="blog-header__text">Рассказываем о кредитах<br> и личных финансах</p>
  </div>
</header>
