<header class="blog-post-header">
  <div class="container">
    <img class="blog-post-header__logo" src="img/blog-post-logo-720.png" width="90" height="30" alt="logo">
    <div class="blog-post-header__search-wrapper">
      <input class="blog-post-header__search-input" type="text" name="search" placeholder="Поиск в блоге">
      <button class="blog-post-header__search-button"></button>
    </div>
    <div class="blog-post-header__border"></div>
    <p class="blog-post-header__text">Рассказываем о кредитах<br> и личных финансах</p>
  </div>
</header>
