.blog-1-top {
  height: 230px;
  padding: 15px 0;

  font-family: $font-700;

  background-color: #6cb970;
  background-image: url("../img/blog-top.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.blog-1-top__title {
  margin: 0;

  color: #ffffff;
  // font-family: $font-700;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.blog-1-top__text {
  margin: 0;
  padding-top: 5px;

  color: #ffffff;
  // font-family: $font-700;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
