.blog-header {
  padding-top: 15px;
  padding-bottom: 15px;

  background-color: #6cb970;

  @include m-widths {
    padding: 25px 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.blog-header__logo {
  width: 90px;
  height: 30px;

  @include m-widths {
    width: 168px;
    height: 53px;
    margin-right: 30px;
  }
}

.blog-header__search-wrapper {
  margin-left: auto;
  display: flex;

  @include m-widths {
    order: 1;
  }

  // &--open {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   z-index: 10;

  //   width: 100%;
  //   height: 100vh;

  //   background-color: #000000;
  //   opacity: 0.5;
  // }
}

.blog-header__search-button {
  position: relative;

  width: 34px;
  height: 34px;

  border-radius: 50%;
  background-color: #fecc00;

  @include m-widths {
    width: 44px;
    height: 44px;
    // order: 1;
  }

  @include xl-widths {
    width: 38px;
    height: 38px;
  }

  // @include xxl-widths {
  //   width: 350px;
  // }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 9px;

    width: 16px;
    height: 16px;

    background-image: url("../img/loupe.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

    @include m-widths {
      top: 14px;
      right: 14px;
    }

    @include xl-widths {
      top: 10px;
      right: 10px;

      width: 18px;
      height: 18px;
    }
  }
}

.blog-header__search-input {
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding: 0;
  padding-left: 15px;
  display: none;

  color: #908f8f;
  font-family: $font-400;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;

  border: none;
  border-radius: 19px;
  background-color: #ffffff;
  // background-image: url("../img/search-round.png");
  // background-repeat: no-repeat;
  // background-position: right;

  // @include xxl-widths {
  //   display: block;
  // }

  // &--open {
  //   display: block;
  //   // float: right;
  // }
}

::-webkit-input-placeholder {
  color: #908f8f;
  font-family: $font-400;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
}

::-moz-placeholder {
  color: #908f8f;
  font-family: $font-400;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  } /* Firefox 19+ */

:-moz-placeholder {
  color: #908f8f;
  font-family: $font-400;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  } /* Firefox 18- */

:-ms-input-placeholder {
  color: #908f8f;
  font-family: $font-400;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
}

.blog-header__border {
  display: none;
  width: 1px;
  height: 68px;
  background-color: #ffffff;
  opacity: 0.3;

  @include m-widths {
    display: block;
    margin-right: 30px;
  }
}

.blog-header__text {
  margin: 0;
  padding-top: 5px;
  flex-basis: 100%;

  color: #ffffff;
  font-family: $font-500;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;

  @include m-widths {
    flex-basis: auto;

    font-size: 14px;
    line-height: 18px;
  }
}
