.header {
  padding-top: 15px;
  padding-bottom: 15px;

  background-color: #6cb970;

  .container {
    display: flex;
    flex-wrap: wrap;
  }
}

.header__logo {
  width: 90px;
  height: 30px;
}

.header__search {
  position: relative;

  width: 34px;
  height: 34px;
  margin-left: auto;

  border-radius: 50%;
  background-color: #fecc00;

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 9px;

    width: 16px;
    height: 16px;

    background-image: url("../img/loupe.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
}

.header__text {
  margin: 0;
  padding-top: 5px;
  flex-basis: 100%;

  color: #ffffff;
  font-family: $font-500;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
